<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
 <meta charset="utf-8">
<title> Animated Login Form </title>
</head>
<body>
<div id="header">
<h1> Login</h1>
</div>
<form class="box" action="http://localhost:5000/login" method="POST">
 <input type="text" name="name" placeholder="user id">
 <input type="password" name="hashed_password" placeholder="password">
 <input type="submit" name="" placeholder="login">
</form>
<form class="box2" action="http://localhost:5000/turn_sign_up" method="POST">
 <input type="submit" name="" placeholder="regist">
</form>



</body>

</html>
 
