<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
 <meta charset="utf-8">
<title> Animated Login Form </title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<div id="header">
<h1> Edu Drive | login</h1>
</div>
<form class="box" action="http://localhost:5000/sign-up" method="POST">
 <h1>Rigist</h1>
 <input type="text" name="name" placeholder="username">
 <input type="password" name="email" placeholder="password">
 <input type="text" name="profile" placeholder="user email">
 <input type="text" name="password" placeholder="user profile">
 <input type="submit" name="" placeholder="login">
</form>
